# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Environment variables
.env

# Build directories
dist/
build/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Debug
*.local

# System files
.DS_Store
Thumbs.db

# IDE and Editor settings
.vscode/
.idea/
*.swp

# Coverage directory
coverage/

# Temporary files
*.tmp
*.temp

# Jest snapshots
*.snap

# Generated lock files
package-lock.json
yarn.lock
